body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25883 {
  position:absolute;
  left:329px;
  top:507px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25884 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u25885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u25885 {
  position:absolute;
  left:468px;
  top:507px;
  width:109px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u25886 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u25887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25887 {
  position:absolute;
  left:587px;
  top:522px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25888 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u25889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25889 {
  position:absolute;
  left:712px;
  top:507px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25890 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u25891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009900;
}
#u25891 {
  position:absolute;
  left:819px;
  top:507px;
  width:91px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009900;
}
#u25892 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u25893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25893 {
  position:absolute;
  left:920px;
  top:522px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25894 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u25895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25895 {
  position:absolute;
  left:1036px;
  top:515px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25896 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u25897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3300;
}
#u25897 {
  position:absolute;
  left:1311px;
  top:515px;
  width:37px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3300;
}
#u25898 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u25899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25899 {
  position:absolute;
  left:1358px;
  top:530px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25900 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u25901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25901 {
  position:absolute;
  left:1441px;
  top:515px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25902 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u25903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009900;
}
#u25903 {
  position:absolute;
  left:1602px;
  top:515px;
  width:37px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009900;
}
#u25904 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u25905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25905 {
  position:absolute;
  left:1649px;
  top:530px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25906 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u25907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u25907 {
  position:absolute;
  left:494px;
  top:443px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u25908 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u25909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u25909 {
  position:absolute;
  left:749px;
  top:443px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u25910 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u25911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u25911 {
  position:absolute;
  left:1036px;
  top:443px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u25912 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u25913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:160px;
}
#u25913 {
  position:absolute;
  left:462px;
  top:259px;
  width:164px;
  height:160px;
}
#u25914 {
  position:absolute;
  left:2px;
  top:72px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:160px;
}
#u25915 {
  position:absolute;
  left:732px;
  top:254px;
  width:164px;
  height:160px;
}
#u25916 {
  position:absolute;
  left:2px;
  top:72px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:160px;
}
#u25917 {
  position:absolute;
  left:1009px;
  top:254px;
  width:164px;
  height:160px;
}
#u25918 {
  position:absolute;
  left:2px;
  top:72px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:267px;
}
#u25919 {
  position:absolute;
  left:1330px;
  top:213px;
  width:257px;
  height:267px;
}
#u25920 {
  position:absolute;
  left:2px;
  top:126px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1820px;
  height:56px;
}
#u25921 {
  position:absolute;
  left:0px;
  top:53px;
  width:1820px;
  height:56px;
}
#u25922 {
  position:absolute;
  left:2px;
  top:20px;
  width:1816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u25923 {
  position:absolute;
  left:59px;
  top:73px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u25924 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25925_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:94px;
  height:6px;
}
#u25925 {
  position:absolute;
  left:167px;
  top:104px;
  width:91px;
  height:3px;
}
#u25926 {
  position:absolute;
  left:2px;
  top:-6px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1820px;
  height:54px;
}
#u25927 {
  position:absolute;
  left:0px;
  top:0px;
  width:1820px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u25928 {
  position:absolute;
  left:2px;
  top:19px;
  width:1816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:5px;
}
#u25929 {
  position:absolute;
  left:1800px;
  top:26px;
  width:6px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u25930 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25931 {
  position:absolute;
  left:10px;
  top:16px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25932 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u25933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u25933 {
  position:absolute;
  left:1672px;
  top:21px;
  width:118px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u25934 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u25935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25935 {
  position:absolute;
  left:216px;
  top:16px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25936 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u25937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25937 {
  position:absolute;
  left:326px;
  top:16px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25938 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25939 {
  position:absolute;
  left:421px;
  top:16px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25940 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25941 {
  position:absolute;
  left:516px;
  top:16px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25942 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25943 {
  position:absolute;
  left:616px;
  top:16px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25944 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25945 {
  position:absolute;
  left:714px;
  top:16px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25946 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25947_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:100px;
  height:6px;
}
#u25947 {
  position:absolute;
  left:503px;
  top:46px;
  width:97px;
  height:3px;
}
#u25948 {
  position:absolute;
  left:2px;
  top:-6px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u25949 {
  position:absolute;
  left:180px;
  top:73px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u25950 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u25952 {
  position:absolute;
  left:1563px;
  top:21px;
  width:24px;
  height:19px;
}
#u25953 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u25954 {
  position:absolute;
  left:1593px;
  top:23px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u25955 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u25956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u25956 {
  position:absolute;
  left:1552px;
  top:12px;
  width:17px;
  height:17px;
}
#u25957 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1603px;
  height:2px;
}
#u25958 {
  position:absolute;
  left:218px;
  top:212px;
  width:1602px;
  height:1px;
}
#u25959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1598px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25960 {
  position:absolute;
  left:262px;
  top:179px;
  width:57px;
  height:16px;
}
#u25961 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25962 {
  position:absolute;
  left:329px;
  top:175px;
  width:139px;
  height:25px;
}
#u25962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25963 {
  position:absolute;
  left:487px;
  top:180px;
  width:57px;
  height:16px;
}
#u25964 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25965 {
  position:absolute;
  left:560px;
  top:174px;
  width:56px;
  height:28px;
}
#u25966 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u25967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25967 {
  position:absolute;
  left:635px;
  top:174px;
  width:52px;
  height:28px;
}
#u25968 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u25969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u25969 {
  position:absolute;
  left:624px;
  top:174px;
  width:1px;
  height:28px;
}
#u25970 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25971 {
  position:absolute;
  left:697px;
  top:174px;
  width:52px;
  height:28px;
}
#u25972 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u25973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25973 {
  position:absolute;
  left:759px;
  top:174px;
  width:52px;
  height:28px;
}
#u25974 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u25975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25975 {
  position:absolute;
  left:821px;
  top:174px;
  width:52px;
  height:28px;
}
#u25976 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u25977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25977 {
  position:absolute;
  left:883px;
  top:174px;
  width:52px;
  height:28px;
}
#u25978 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u25979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25979 {
  position:absolute;
  left:945px;
  top:174px;
  width:52px;
  height:28px;
}
#u25980 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u25981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25981 {
  position:absolute;
  left:1007px;
  top:174px;
  width:52px;
  height:28px;
}
#u25982 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u25983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25983 {
  position:absolute;
  left:1069px;
  top:174px;
  width:52px;
  height:28px;
}
#u25984 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u25985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25985 {
  position:absolute;
  left:1131px;
  top:174px;
  width:52px;
  height:28px;
}
#u25986 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u25987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25987 {
  position:absolute;
  left:1193px;
  top:174px;
  width:52px;
  height:28px;
}
#u25988 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u25989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25989 {
  position:absolute;
  left:1255px;
  top:174px;
  width:52px;
  height:28px;
}
#u25990 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u25991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1603px;
  height:2px;
}
#u25991 {
  position:absolute;
  left:218px;
  top:163px;
  width:1602px;
  height:1px;
}
#u25992 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1598px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25993 {
  position:absolute;
  left:246px;
  top:126px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25994 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u25995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:471px;
}
#u25995 {
  position:absolute;
  left:246px;
  top:704px;
  width:840px;
  height:471px;
}
#u25996 {
  position:absolute;
  left:2px;
  top:228px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:471px;
}
#u25997 {
  position:absolute;
  left:303px;
  top:1185px;
  width:840px;
  height:471px;
}
#u25998 {
  position:absolute;
  left:2px;
  top:228px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:435px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25999 {
  position:absolute;
  left:465px;
  top:1196px;
  width:632px;
  height:435px;
}
#u26000 {
  position:absolute;
  left:2px;
  top:210px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26001 {
  position:absolute;
  left:371px;
  top:1286px;
  width:38px;
  height:344px;
}
#u26002 {
  position:absolute;
  left:2px;
  top:164px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:344px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26003 {
  position:absolute;
  left:419px;
  top:1286px;
  width:37px;
  height:344px;
}
#u26004 {
  position:absolute;
  left:2px;
  top:164px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26005 {
  position:absolute;
  left:329px;
  top:562px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26006 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u26007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC6600;
}
#u26007 {
  position:absolute;
  left:474px;
  top:562px;
  width:109px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC6600;
}
#u26008 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u26009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26009 {
  position:absolute;
  left:591px;
  top:572px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26010 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u26011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26011 {
  position:absolute;
  left:696px;
  top:562px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26012 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u26013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u26013 {
  position:absolute;
  left:835px;
  top:562px;
  width:145px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u26014 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u26015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26015 {
  position:absolute;
  left:995px;
  top:570px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26016 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u26017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:471px;
}
#u26017 {
  position:absolute;
  left:361px;
  top:1698px;
  width:840px;
  height:471px;
}
#u26018 {
  position:absolute;
  left:2px;
  top:228px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:435px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26019 {
  position:absolute;
  left:523px;
  top:1709px;
  width:632px;
  height:435px;
}
#u26020 {
  position:absolute;
  left:2px;
  top:210px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:344px;
  background:inherit;
  background-color:rgba(204, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26021 {
  position:absolute;
  left:429px;
  top:1799px;
  width:38px;
  height:344px;
}
#u26022 {
  position:absolute;
  left:2px;
  top:164px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:344px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26023 {
  position:absolute;
  left:477px;
  top:1799px;
  width:37px;
  height:344px;
}
#u26024 {
  position:absolute;
  left:2px;
  top:164px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1561px;
  height:2px;
}
#u26025 {
  position:absolute;
  left:246px;
  top:640px;
  width:1560px;
  height:1px;
}
#u26026 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  background:inherit;
  background-color:rgba(250, 204, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26027 {
  position:absolute;
  left:1314px;
  top:754px;
  width:25px;
  height:23px;
}
#u26028 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  background:inherit;
  background-color:rgba(65, 123, 35, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26029 {
  position:absolute;
  left:1314px;
  top:787px;
  width:25px;
  height:23px;
}
#u26030 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26031 {
  position:absolute;
  left:1349px;
  top:1799px;
  width:25px;
  height:23px;
}
#u26032 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26033 {
  position:absolute;
  left:1349px;
  top:1832px;
  width:25px;
  height:23px;
}
#u26034 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26035 {
  position:absolute;
  left:1349px;
  top:754px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26036 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26037 {
  position:absolute;
  left:1349px;
  top:788px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26038 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26039 {
  position:absolute;
  left:1384px;
  top:1799px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26040 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26041 {
  position:absolute;
  left:1384px;
  top:1831px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26042 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26043 {
  position:absolute;
  left:1341px;
  top:1236px;
  width:25px;
  height:23px;
}
#u26044 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26045 {
  position:absolute;
  left:1341px;
  top:1269px;
  width:25px;
  height:23px;
}
#u26046 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26047 {
  position:absolute;
  left:1376px;
  top:1236px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26048 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26049 {
  position:absolute;
  left:1376px;
  top:1268px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26050 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u26052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:881px;
}
#u26052 {
  position:absolute;
  left:0px;
  top:107px;
  width:218px;
  height:881px;
}
#u26053 {
  position:absolute;
  left:2px;
  top:432px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u26054 {
  position:absolute;
  left:7px;
  top:125px;
  width:18px;
  height:14px;
  color:#0099FF;
}
#u26055 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u26056 {
  position:absolute;
  left:31px;
  top:122px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u26057 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u26058 {
  position:absolute;
  left:10px;
  top:165px;
  width:18px;
  height:14px;
  color:#0099FF;
}
#u26059 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u26060 {
  position:absolute;
  left:34px;
  top:162px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u26061 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u26062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u26062 {
  position:absolute;
  left:10px;
  top:205px;
  width:18px;
  height:14px;
  color:#0099FF;
}
#u26063 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u26064 {
  position:absolute;
  left:34px;
  top:202px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u26065 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u26066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u26066 {
  position:absolute;
  left:10px;
  top:244px;
  width:18px;
  height:14px;
  color:#0099FF;
}
#u26067 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u26068 {
  position:absolute;
  left:34px;
  top:241px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u26069 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
