body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:881px;
}
#u6165 {
  position:absolute;
  left:0px;
  top:108px;
  width:218px;
  height:881px;
}
#u6166 {
  position:absolute;
  left:2px;
  top:432px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:47px;
}
#u6167 {
  position:absolute;
  left:-12px;
  top:109px;
  width:230px;
  height:47px;
}
#u6168 {
  position:absolute;
  left:2px;
  top:16px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u6169 {
  position:absolute;
  left:27px;
  top:126px;
  width:18px;
  height:14px;
  color:#0099FF;
}
#u6170 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u6171 {
  position:absolute;
  left:51px;
  top:123px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u6172 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u6173 {
  position:absolute;
  left:27px;
  top:173px;
  width:18px;
  height:14px;
}
#u6174 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6175 {
  position:absolute;
  left:51px;
  top:170px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6176 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:881px;
}
#u6177 {
  position:absolute;
  left:0px;
  top:108px;
  width:218px;
  height:881px;
}
#u6178 {
  position:absolute;
  left:2px;
  top:432px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u6179 {
  position:absolute;
  left:27px;
  top:126px;
  width:18px;
  height:14px;
  color:#0099FF;
}
#u6180 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6181 {
  position:absolute;
  left:51px;
  top:123px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6182 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u6183 {
  position:absolute;
  left:27px;
  top:173px;
  width:18px;
  height:14px;
}
#u6184 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6185 {
  position:absolute;
  left:51px;
  top:170px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6186 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1820px;
  height:54px;
}
#u6187 {
  position:absolute;
  left:0px;
  top:0px;
  width:1820px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u6188 {
  position:absolute;
  left:2px;
  top:19px;
  width:1816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:5px;
}
#u6189 {
  position:absolute;
  left:1800px;
  top:26px;
  width:6px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6190 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6191 {
  position:absolute;
  left:10px;
  top:16px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6192 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u6193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u6193 {
  position:absolute;
  left:1672px;
  top:21px;
  width:118px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u6194 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u6195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6195 {
  position:absolute;
  left:216px;
  top:16px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6196 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6197 {
  position:absolute;
  left:326px;
  top:16px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6198 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6199 {
  position:absolute;
  left:421px;
  top:16px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6200 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6201 {
  position:absolute;
  left:516px;
  top:16px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6202 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6203 {
  position:absolute;
  left:616px;
  top:16px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6204 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6205 {
  position:absolute;
  left:714px;
  top:16px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6206 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6207_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:100px;
  height:6px;
}
#u6207 {
  position:absolute;
  left:312px;
  top:46px;
  width:97px;
  height:3px;
}
#u6208 {
  position:absolute;
  left:2px;
  top:-6px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1820px;
  height:56px;
}
#u6209 {
  position:absolute;
  left:0px;
  top:53px;
  width:1820px;
  height:56px;
}
#u6210 {
  position:absolute;
  left:2px;
  top:20px;
  width:1816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6211 {
  position:absolute;
  left:37px;
  top:75px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6212 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6213 {
  position:absolute;
  left:472px;
  top:75px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6214 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6215_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:100px;
  height:6px;
}
#u6215 {
  position:absolute;
  left:318px;
  top:104px;
  width:97px;
  height:3px;
}
#u6216 {
  position:absolute;
  left:2px;
  top:-6px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6217 {
  position:absolute;
  left:184px;
  top:75px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6218 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6219 {
  position:absolute;
  left:605px;
  top:75px;
  width:139px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6220 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6221 {
  position:absolute;
  left:338px;
  top:75px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6222 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u6224 {
  position:absolute;
  left:1563px;
  top:21px;
  width:24px;
  height:19px;
}
#u6225 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u6226 {
  position:absolute;
  left:1593px;
  top:23px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u6227 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u6228 {
  position:absolute;
  left:1552px;
  top:12px;
  width:17px;
  height:17px;
}
#u6229 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6230 {
  position:absolute;
  left:754px;
  top:75px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6231 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u6232 {
  position:absolute;
  left:27px;
  top:225px;
  width:18px;
  height:14px;
}
#u6233 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6234 {
  position:absolute;
  left:51px;
  top:222px;
  width:145px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6235 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1603px;
  height:2px;
}
#u6236 {
  position:absolute;
  left:218px;
  top:155px;
  width:1602px;
  height:1px;
}
#u6237 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1598px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6238 {
  position:absolute;
  left:239px;
  top:123px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6239 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6240 {
  position:absolute;
  left:228px;
  top:185px;
  width:1597px;
  height:365px;
}
#u6241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:60px;
}
#u6241 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:60px;
  font-size:18px;
}
#u6242 {
  position:absolute;
  left:2px;
  top:19px;
  width:128px;
  word-wrap:break-word;
}
#u6243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:60px;
}
#u6243 {
  position:absolute;
  left:132px;
  top:0px;
  width:685px;
  height:60px;
  font-size:18px;
}
#u6244 {
  position:absolute;
  left:2px;
  top:19px;
  width:681px;
  word-wrap:break-word;
}
#u6245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:60px;
}
#u6245 {
  position:absolute;
  left:817px;
  top:0px;
  width:381px;
  height:60px;
  font-size:18px;
}
#u6246 {
  position:absolute;
  left:2px;
  top:19px;
  width:377px;
  word-wrap:break-word;
}
#u6247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:60px;
}
#u6247 {
  position:absolute;
  left:1198px;
  top:0px;
  width:394px;
  height:60px;
  font-size:18px;
}
#u6248 {
  position:absolute;
  left:2px;
  top:19px;
  width:390px;
  word-wrap:break-word;
}
#u6249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:100px;
}
#u6249 {
  position:absolute;
  left:0px;
  top:60px;
  width:132px;
  height:100px;
  font-size:18px;
}
#u6250 {
  position:absolute;
  left:2px;
  top:39px;
  width:128px;
  word-wrap:break-word;
}
#u6251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:100px;
}
#u6251 {
  position:absolute;
  left:132px;
  top:60px;
  width:685px;
  height:100px;
  font-size:18px;
}
#u6252 {
  position:absolute;
  left:2px;
  top:39px;
  width:681px;
  word-wrap:break-word;
}
#u6253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:100px;
}
#u6253 {
  position:absolute;
  left:817px;
  top:60px;
  width:381px;
  height:100px;
}
#u6254 {
  position:absolute;
  left:2px;
  top:29px;
  width:377px;
  word-wrap:break-word;
}
#u6255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:100px;
}
#u6255 {
  position:absolute;
  left:1198px;
  top:60px;
  width:394px;
  height:100px;
}
#u6256 {
  position:absolute;
  left:2px;
  top:29px;
  width:390px;
  word-wrap:break-word;
}
#u6257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:100px;
}
#u6257 {
  position:absolute;
  left:0px;
  top:160px;
  width:132px;
  height:100px;
  font-size:18px;
}
#u6258 {
  position:absolute;
  left:2px;
  top:39px;
  width:128px;
  word-wrap:break-word;
}
#u6259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:100px;
}
#u6259 {
  position:absolute;
  left:132px;
  top:160px;
  width:685px;
  height:100px;
  font-size:18px;
}
#u6260 {
  position:absolute;
  left:2px;
  top:39px;
  width:681px;
  word-wrap:break-word;
}
#u6261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:100px;
}
#u6261 {
  position:absolute;
  left:817px;
  top:160px;
  width:381px;
  height:100px;
}
#u6262 {
  position:absolute;
  left:2px;
  top:29px;
  width:377px;
  word-wrap:break-word;
}
#u6263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:100px;
}
#u6263 {
  position:absolute;
  left:1198px;
  top:160px;
  width:394px;
  height:100px;
}
#u6264 {
  position:absolute;
  left:2px;
  top:29px;
  width:390px;
  word-wrap:break-word;
}
#u6265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:100px;
}
#u6265 {
  position:absolute;
  left:0px;
  top:260px;
  width:132px;
  height:100px;
  font-size:18px;
}
#u6266 {
  position:absolute;
  left:2px;
  top:39px;
  width:128px;
  word-wrap:break-word;
}
#u6267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:100px;
}
#u6267 {
  position:absolute;
  left:132px;
  top:260px;
  width:685px;
  height:100px;
  font-size:18px;
}
#u6268 {
  position:absolute;
  left:2px;
  top:39px;
  width:681px;
  word-wrap:break-word;
}
#u6269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:100px;
}
#u6269 {
  position:absolute;
  left:817px;
  top:260px;
  width:381px;
  height:100px;
}
#u6270 {
  position:absolute;
  left:2px;
  top:29px;
  width:377px;
  word-wrap:break-word;
}
#u6271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:100px;
}
#u6271 {
  position:absolute;
  left:1198px;
  top:260px;
  width:394px;
  height:100px;
}
#u6272 {
  position:absolute;
  left:2px;
  top:29px;
  width:390px;
  word-wrap:break-word;
}
#u6273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
}
#u6273 {
  position:absolute;
  left:1391px;
  top:625px;
  width:451px;
  height:150px;
  font-size:28px;
}
#u6274 {
  position:absolute;
  left:10px;
  top:10px;
  width:431px;
  word-wrap:break-word;
}
