body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:892px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:563px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u12809 {
  position:absolute;
  left:187px;
  top:72px;
  width:705px;
  height:563px;
  font-size:28px;
}
#u12810 {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  word-wrap:break-word;
}
